/*Copied from resetPassword.css for same style across website*/

body {
    font-family: Arial, sans-serif;
    background-color: rgb(93, 93, 93);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 93%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#home-button {
    background-color: grey;
}

button:hover {
    background-color: #0056b3;
}

#message{
    color: red; 
    text-align: center; 
    margin-top: 10px;
}

#password-strength {
    font-size: 20px; 
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}